.bc-primary {
    background-color: #19BC9C;
}

.bc-secondary {
    background-color: #2C3E4F;
}

.bc-tertiary {
    background-color: #4c7090;
}


/* -----HEADER----- */

header {
    color: white;
}

.logo {
    font-size: 22px;
}

/* -----MAIN----- */

.main-nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 0 10px;
    margin-bottom: 0px;
}

.main-nav a {
    text-decoration: none;
    color: white;
}

/* -----CONTAINER----- */

.container-custom {
    max-width: 200px;
    margin: auto;
}

.container-small {
    max-width: 80%;
    margin: auto;
}

/* -----HERO----- */

.row img {
    border-radius: 10px;
}

.hero {
    color: white;
    text-align: center;
}

.line-star {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.line {
    width: 70px;
    height: 3px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}

.line-black {
    width: 70px;
    height: 3px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
}

.star {
    flex-grow: 1;
}

.about {
    color: white;
}

.btn {
    background-color: transparent;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    border-color: white;
}

.btn-green {
    background-color: #19BC9C;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    border-color: white;
}

.social a i{
    text-decoration: none;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    color: white;
    padding: 5px;
    border-radius: 50%;
    line-height: 22px;
    margin: 0 5px;
}

.link-footer a{
    text-decoration: none;
    color: #24ddb8;
}